body {
    text-align: center;
    font-family: 'Montserrat' , sans-serif;
    color: black;
    background-color:#b882b4e1;
    }
    
    img{
    margin-top:30px;
    }
    
    h1{
    font-size: 80px;
    font-family: 'Allura', cursive;
    text-shadow: 1px 1px;
    }
  